<div class="container">
  <div class="header">
    <p>Welcome User, {{ UserName }}</p>
    <button type="button" (click)="logout()">Logout</button>
  </div>

  <h2>Todo List</h2>

  <div>
    <input type="text" [(ngModel)]="newTodo" placeholder="Enter a new todo" />
    <button type="button" (click)="addTodo()">Add Todo</button>
  </div>

  <ul>
    <li *ngFor="let todo of todos; let i = index">
      <ng-container *ngIf="!todo.editing; else editMode">
        <div>
          {{ todo.text }} (Created: {{ todo.createdAt | date : "medium" }})
          <button type="button" (click)="editTodo(i)">Edit</button>
          <button type="button" (click)="deleteTodo(i)">Delete</button>
        </div>
      </ng-container>
      <ng-template #editMode>
        <div>
          <input
            type="text"
            [(ngModel)]="todos[i].text"
            placeholder="Edit todo"
          />
          <button type="button" (click)="saveEdit(i)">Save</button>
          <button type="button" (click)="deleteTodo(i)">Delete</button>
        </div>
      </ng-template>
    </li>
  </ul>
</div>
