<div class="container">
  <div class="header">
    <div class="header-image">
      <p>Welcome User, {{ UserName }}</p>
      <img src="../../../../assets/profile.png" class="mdc-image-list__image" />
    </div>

    <button type="button" (click)="logout()">Logout</button>
  </div>

  <h2>Todo List</h2>

  <div>
    <input type="text" [(ngModel)]="newTodo" placeholder="Enter a new todo" />
    <button type="button" (click)="addTodo()">Add Todo</button>
  </div>
  <div class="button-container">
    <button type="button" (click)="showOngoingTasks()" appButtonHover>
      Ongoing Task
    </button>
    <button type="button" (click)="showFinishedTasks()" appButtonHover>
      Finished Task
    </button>
  </div>

  <ul>
    <li *ngFor="let todo of filteredTodos; let i = index">
      <ng-container *ngIf="!todo.editing; else editMode">
        <div>
          <input
            type="checkbox"
            [(ngModel)]="todo.completed"
            (change)="completeTodo(i, todo.completed)"
          />

          {{ todo.text }} (Created: {{ todo.createdAt | dateCreation }})
          <button type="button" (click)="editTodo(i)">Edit</button>
          <button type="button" (click)="deleteTodo(i)">Delete</button>
        </div>
      </ng-container>
      <ng-template #editMode>
        <div>
          <input
            type="text"
            [(ngModel)]="todos[i].text"
            placeholder="Edit todo"
          />
          <button type="button" (click)="saveEdit(i)">Save</button>
          <button type="button" (click)="deleteTodo(i)">Delete</button>
        </div>
      </ng-template>
    </li>
  </ul>
</div>
