<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your ToDo List App</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Todo List App</h1>
        <p>
          Stay organized and boost your productivity with our simple and
          effective ToDo app.
        </p>
      </header>

      <img
        src="../../../assets/landing-page.png"
        alt="ToDo App Preview"
        class="app-image"
      />

      <a href="/login" class="cta-button">Get Started</a>

      <footer>
        <p>&copy; 2023 Raul Inc.</p>
      </footer>
    </div>
  </body>
</html>
