<div class="registration-container" [formGroup]="forms">
  <form class="registration-form">
    <h1>Register</h1>
    <label for="email">Email:</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      name="email"
      required
    />
    <label for="username">Username:</label>
    <input
      type="text"
      formControlName="username"
      id="username"
      name="username"
      required
    />
    <label for="password">Password:</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      name="password"
      required
    />
    <button (click)="register()" type="submit">Register</button>
    <p>
      Already have an account?
      <a (click)="navigateToLogin()">Click here</a>
    </p>
    <div *ngIf="forms.hasError('registrationError') && forms.dirty">
      <p class="error-message">Registration failed. Please try again.</p>
    </div>
  </form>
</div>
