<div class="login-container" [formGroup]="form">
  <form class="login-form">
    <h1>Login</h1>
    <label for="username">Username:</label>
    <input
      type="text"
      formControlName="username"
      id="username"
      name="username"
      required
    />
    <label for="password">Password:</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      name="password"
      required
    />
    <button (click)="login()" [disabled]="!form.valid" type="submit">
      Login
    </button>
    <button (click)="register()" type="submit">Register</button>
    <div *ngIf="form.hasError('invalidLogin')">
      <p class="error-message">Invalid Username or Password</p>
    </div>
  </form>
</div>
